<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>API test</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <h3 data-bs-toggle="collapse" data-bs-target="#search-form" type="button">
        Search
      </h3>
      <div class="collapse show" id="search-form">
        <div class="form">
          <div class="row">
            <div class="form-group col-6">
              <label class="form-label">Dotaz</label>
              <input class="form-control" type="text" id="search-query" />
            </div>
            <div class="form-group col-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="search-detectEnums"
                  checked="checked"
                />
                <label class="form-check-label">S detekcí klíčových slov</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="search-useLemmatizer"
                  checked="checked"
                />
                <label class="form-check-label">S lemmatizací</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="search-doRedirection"
                  checked="checked"
                />
                <label class="form-check-label">S přesměrováním</label>
              </div>
            </div>
            <div class="form-group col-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="search-returnSearchHints"
                  checked="checked"
                />
                <label class="form-check-label">Vrátit doporučení</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="search-returnWizardHints"
                  checked="checked"
                />
                <label class="form-check-label">Vrátit knihovníka</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="search-returnDropdownValues"
                  checked="checked"
                />
                <label class="form-check-label"
                  >Vrátit počty do dropdownů</label
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-4">
              <label class="form-label">Id uživatele</label>
              <input class="form-control" type="text" id="search-userId" />
            </div>
            <div class="form-group col-4">
              <label class="form-label">Počet dokumentů</label>
              <input
                class="form-control"
                type="number"
                min="0"
                id="search-itemCount"
                value="10"
              />
            </div>
            <div class="form-group col-4">
              <label class="form-label">Index prvního dokumentu</label>
              <input
                class="form-control"
                type="number"
                min="0"
                id="search-startIndex"
                value="0"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label class="form-label">Stupeň vzdělávání</label>
              <select id="ms-stupen_vzdelavani" class="form-select" multiple>
                <option value="2-P">2-P</option>
                <option value="2-Z">2-Z</option>
                <option value="2-U">2-U</option>
                <option value="2-S">2-S</option>
                <option value="2-G">2-G</option>
                <option value="2-O">2-O</option>
                <option value="2-J">2-J</option>
                <option value="2-N">2-N</option>
                <option value="2-T">2-T</option>
                <option value="2-NR">2-NR</option>
                <option value="2-NU">2-NU</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label class="form-label">Typ materiálu</label>
              <select id="ms-typ" class="form-select" multiple>
                <option value="8-MS">8-MS</option>
                <option value="8-IC">8-IC</option>
                <option value="8-CL">8-CL</option>
                <option value="8-WS">8-WS</option>
                <option value="8-AP">8-AP</option>
                <option value="8-VI">8-VI</option>
                <option value="8-OB">8-OB</option>
                <option value="8-AU">8-AU</option>
                <option value="8-PL">8-PL</option>
                <option value="8-DI">8-DI</option>
                <option value="8-KO">8-KO</option>
                <option value="8-PR">8-PR</option>
                <option value="8-OK">8-OK</option>
                <option value="8-PO">8-PO</option>
                <option value="8-TE">8-TE</option>
                <option value="8-PU">8-PU</option>
                <option value="8-VA">8-VA</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label class="form-label">Vzdělávací obor</label>
              <select id="ms-obor_vzdelavani" class="form-select" multiple>
                <option value="9-01">9-01</option>
                <option value="9-02">9-02</option>
                <option value="9-03">9-03</option>
                <option value="9-04">9-04</option>
                <option value="9-05">9-05</option>
                <option value="9-06">9-06</option>
                <option value="9-07">9-07</option>
                <option value="9-08">9-08</option>
                <option value="9-09">9-09</option>
                <option value="9-10">9-10</option>
                <option value="9-11">9-11</option>
                <option value="9-12">9-12</option>
                <option value="9-13">9-13</option>
                <option value="9-14">9-14</option>
                <option value="9-15">9-15</option>
                <option value="9-16">9-16</option>
                <option value="9-17">9-17</option>
                <option value="9-18">9-18</option>
                <option value="9-19">9-19</option>
                <option value="9-20">9-20</option>
                <option value="9-21">9-21</option>
                <option value="9-22">9-22</option>
                <option value="9-23">9-23</option>
                <option value="9-24">9-24</option>
                <option value="9-25">9-25</option>
                <option value="9-26">9-26</option>
                <option value="9-27">9-27</option>
                <option value="9-28">9-28</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label class="form-label">Jazyk</label>
              <select id="ms-jazyk" class="form-select" multiple>
                <option value="5-cs">5-cs</option>
                <option value="5-la">5-la</option>
                <option value="5-en">5-en</option>
                <option value="5-da">5-da</option>
                <option value="5-et">5-et</option>
                <option value="5-fi">5-fi</option>
                <option value="5-fr">5-fr</option>
                <option value="5-it">5-it</option>
                <option value="5-lt">5-lt</option>
                <option value="5-lv">5-lv</option>
                <option value="5-hu">5-hu</option>
                <option value="5-mt">5-mt</option>
                <option value="5-de">5-de</option>
                <option value="5-nl">5-nl</option>
                <option value="5-pl">5-pl</option>
                <option value="5-pt">5-pt</option>
                <option value="5-el">5-el</option>
                <option value="5-ru">5-ru</option>
                <option value="5-sk">5-sk</option>
                <option value="5-sl">5-sl</option>
                <option value="5-es">5-es</option>
                <option value="5-sv">5-sv</option>
                <option value="5-bg">5-bg</option>
                <option value="5-ro">5-ro</option>
                <option value="5-ji">5-ji</option>
                <option value="5-nu">5-nu</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label class="form-label">Dostupnost</label>
              <select id="ms-dostupnost" class="form-select" multiple>
                <option value="7-ANO">7-ANO</option>
                <option value="7-NER">7-NER</option>
                <option value="7-NEP">7-NEP</option>
                <option value="7-ND">7-ND</option>
                <option value="7-NU">7-NU</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label class="form-label">Licence</label>
              <select id="ms-licence" class="form-select" multiple>
                <option value="1-CCBY40">1-CCBY40</option>
                <option value="1-CCBYNC40">1-CCBYNC40</option>
                <option value="1-CCBYSA40">1-CCBYSA40</option>
                <option value="1-CCBYND40">1-CCBYND40</option>
                <option value="1-CCBYNCSA40">1-CCBYNCSA40</option>
                <option value="1-CCBYNCND40">1-CCBYNCND40</option>
                <option value="1-CCBY30">1-CCBY30</option>
                <option value="1-CCBYNC30">1-CCBYNC30</option>
                <option value="1-CCBYSA30">1-CCBYSA30</option>
                <option value="1-CCBYND30">1-CCBYND30</option>
                <option value="1-CCBYNCSA30">1-CCBYNCSA30</option>
                <option value="1-CCBYNCND30">1-CCBYNCND30</option>
                <option value="1-GNUGPLv1">1-GNUGPLv1</option>
                <option value="1-GNUGPLv2">1-GNUGPLv2</option>
                <option value="1-GNUGPLv3">1-GNUGPLv3</option>
                <option value="1-GNUFDLv1.3">1-GNUFDLv1.3</option>
                <option value="1-PDO">1-PDO</option>
                <option value="1-CPRT">1-CPRT</option>
                <option value="1-OST">1-OST</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <button class="btn btn-primary" type="button" id="search-button">
                Hledat
              </button>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label class="form-label">Request</label>
              <textarea
                rows="10"
                class="form-control"
                id="search-request"
              ></textarea>
            </div>
            <div class="form-group col-6">
              <label class="form-label">Response</label>
              <textarea
                rows="10"
                class="form-control"
                id="search-response"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <h3 data-bs-toggle="collapse" data-bs-target="#hint-form" type="button">
        Hint
      </h3>
      <div class="collapse show" id="hint-form">
        <div class="form">
          <div class="row">
            <div class="form-group col-6">
              <label class="form-label">Dotaz</label>
              <input class="form-control" type="text" id="hint-textValue" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <button class="btn btn-primary" type="button" id="hint-button">
                Hledat
              </button>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label class="form-label">Request</label>
              <textarea
                rows="10"
                class="form-control"
                id="hint-request"
              ></textarea>
            </div>
            <div class="form-group col-6">
              <label class="form-label">Response</label>
              <textarea
                rows="10"
                class="form-control"
                id="hint-response"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(() => {
        $("button#search-button").click(() => {
          const data = JSON.stringify(
            {
              query: $("input#search-query").val(),
              detectEnums: $("input#search-detectEnums").is(":checked"),
              doRedirection: $("input#search-doRedirection").is(":checked"),
              useLemmatizer: $("input#search-useLemmatizer").is(":checked"),
              returnSearchHints: $("input#search-returnSearchHints").is(
                ":checked"
              ),
              returnWizardHints: $("input#search-returnWizardHints").is(
                ":checked"
              ),
              returnDropdownValues: $("input#search-returnDropdownValues").is(
                ":checked"
              ),
              userId: $("input#search-userId").val(),
              itemCount: $("input#search-itemCount").val(),
              startIndex: $("input#search-startIndex").val(),
              enumValues: [
                {
                  enumType: "stupen_vzdelavani",
                  isNotRelevant: false,
                  values: $("#ms-stupen_vzdelavani")
                    .find(":selected")
                    .map((i, e) => { return { valueCode: $(e).val() }; })
                    .toArray(),
                },
                {
                  enumType: "typ",
                  isNotRelevant: false,
                  values: $("#ms-typ")
                    .find(":selected")
                    .map((i, e) => { return { valueCode: $(e).val() }; })
                    .toArray(),
                },
                {
                  enumType: "obor_vzdelavani",
                  isNotRelevant: false,
                  values: $("#ms-obor_vzdelavani")
                    .find(":selected")
                    .map((i, e) => { return { valueCode: $(e).val() }; })
                    .toArray(),
                },
                {
                  enumType: "jazyk",
                  isNotRelevant: false,
                  values: $("#ms-jazyk")
                    .find(":selected")
                    .map((i, e) => { return { valueCode: $(e).val() }; })
                    .toArray(),
                },
                {
                  enumType: "dostupnost",
                  isNotRelevant: false,
                  values: $("#ms-dostupnost")
                    .find(":selected")
                    .map((i, e) => { return { valueCode: $(e).val() }; })
                    .toArray(),
                },
                {
                  enumType: "licence",
                  isNotRelevant: false,
                  values: $("#ms-licence")
                    .find(":selected")
                    .map((i, e) => { return { valueCode: $(e).val() }; })
                    .toArray(),
                },
              ],
            },
            null,
            2
          );
          $("textarea#search-request").val(data);
          $.ajax({
            url: "/search",
            type: "post",
            success: (response) => {
              $("textarea#search-response").val(
                JSON.stringify(response, null, 2)
              );
            },
            error: (response) => {
              $("textarea#search-response").val(
                "Error on call:\n" + response.responseText
              );
            },
            contentType: "application/json",
            data: data,
          });
        });
        $("button#hint-button").click(() => {
          const data = JSON.stringify(
            {
              textValue: $("input#hint-textValue").val(),
              enumValues: {},
              notRelevantValues: [],
            },
            null,
            2
          );
          $("textarea#hint-request").val(data);
          $.ajax({
            url: "/hint",
            type: "post",
            success: (response) => {
              $("textarea#hint-response").val(
                JSON.stringify(response, null, 2)
              );
            },
            error: (response) => {
              $("textarea#hint-response").val(
                "Error on call:\n" + response.responseText
              );
            },
            contentType: "application/json",
            data: data,
          });
        });
      });
    </script>
  </body>
</html>
