<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>😯 Jejda, něco se pokazilo! 😢</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>😯 Jejda, něco se pokazilo! 😢</h1>
      <p>Ale nevěšme hlavu, někdo se na to podívá a bude to fungovat 😊</p>
      <h3>{{ error }}</h3>
    </div>
  </body>
</html>
